
<div class="row justify-content-center">
<div class="col-xs-12 col-sm-5">
<%= render partial: 'shared/error_messages', locals: { obj: @user } %>
<%= form_for @user do |f| %>
	<%= f.label :Name %>
	 <%= f.text_field :name , class: 'form-control'%> <br />
	 <%= f.label :Email %>
	 <%= f.email_field :email , class: 'form-control'%> <br/>
	 <%= f.label :Password %>
	 <%=f.password_field :password,class: 'form-control'%><br/>
	 <%= f.label :Age %>
	 <%= f.number_field :age , class: 'form-control'%> <br/>
	 <%= f.label :Gender %>
	 <%= f.text_field :gender , class: 'form-control'%><br/>
	 <%= f.label :Phone %>
	 <%= f.telephone_field :phone_number , class: 'form-control'%><br/>
	<%= f.submit 'Sign Up'%>
<% end %>
</div>
</div>