<div>
<%=link_to('Back to users','/users') %>
</div>
<div class="row">
   <div class="col-md-4">
         <% if @user.nil? %>
               Nu exista userul
         <% else %>
               <%= render @user %>
                       <% end %>
             </div>
             <% if @user.present? %>
             <div class="col-md-6">
               <h3><%= @title %></h3>
               <%= render @users %>
               <%= render partial: 'posts/pagination' %>
             </div>
           <% end %>   
</div>