<div class="card user-card">
  <div class="card-body">
    <h5 class="card-title"><%=link_to(post.title, post)%><br></h5>
    <p class="card-text">
    description <%= post.description %><br>
    Posted by <%= link_to post.user.name, post.user %> <%= time_ago_in_words(post.updated_at) %> ago.
    </p>
    <% if post.user_id==current_user.id %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
    </div>
</div>

